<!-- Login -->
{{#if errorMessage}}
<div id="notification"
    class="fixed top-28 right-28 bg-error text-white py-4 rounded shadow-lg p-10 transition-opacity opacity-100 duration-1000">
    <p>{{errorMessage}}</p>
</div>
{{/if}}

<section class="bg-white py-16">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-center">
            <div class="md:w-1/2 lg:w-1/3 bg-white rounded-lg shadow-md p-4 md:p-10 md:m-10">
                <h2 class="text-2xl font-semibold mb-4">Change password</h2>
                <form id="change-password-form" method="post" action="/user/change-password">
                    <div class="mb-3">
                        <label for="old-password" class="block">Old Password</label>
                        <input type="password" id="old-password"
                            class="w-full px-3 py-1 border-2 rounded-full focus:border-transparent focus:outline-none focus:ring-2 focus:ring-primary"
                            name="Old Password" required />
                    </div>
                    <div class="mb-3">
                        <label for="new-password" class="block">New Password</label>
                        <input type="password" id="new-password"
                            class="w-full px-3 py-1 border-2 rounded-full focus:border-transparent focus:outline-none focus:ring-2 focus:ring-primary"
                            name="New Password" required />
                        <span id="new-password-error" class="text-red-500 text-sm"></span>
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password" class="block">Confirm Password</label>
                        <input type="password" id="confirm-password"
                            class="w-full px-3 py-1 border-2 rounded-full focus:border-transparent focus:outline-none focus:ring-2 focus:ring-primary"
                            name="Confirm Password" required />
                        <span id="confirm-password-error" class="text-red-500 text-sm"></span>
                    </div>
                    <button type="submit"
                        class="bg-primary text-white border border-primary hover:bg-transparent hover:text-primary py-2 px-3 rounded-full w-full">
                        Confirm
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const newPasswordField = document.getElementById("new-password");
        const confirmPasswordField = document.getElementById("confirm-password");

        const newPasswordError = document.getElementById("new-password-error");
        const confirmPasswordError = document.getElementById("confirm-password-error");

        newPasswordField.addEventListener("blur", () => {
            const newPassword = newPasswordField.value.trim();
            newPasswordError.textContent = "";
            if (!(/^(?=.*[A-Za-z])(?=.*\d)/.test(newPassword))) {
                newPasswordError.textContent = "Password must include letters and numbers.";
            }
            if (newPassword.length < 5) {
                newPasswordError.textContent = "Password must be at least 5 letters.";
            }
        });

        confirmPasswordField.addEventListener("blur", () => {
            const newPassword = newPasswordField.value.trim();
            const confirmPassword = confirmPasswordField.value.trim();
            confirmPasswordError.textContent = "";

            if (newPassword !== confirmPassword) {
                confirmPasswordError.textContent = "Passwords do not match.";
            }
        });

        document.getElementById("change-password-form").addEventListener("submit", (event) => {
            const newPassword = newPasswordField.value.trim();
            const confirmPassword = confirmPasswordField.value.trim();
            confirmPasswordError.textContent = "";

            if (newPassword !== confirmPassword) {
                confirmPasswordError.textContent = "Passwords do not match.";
                event.preventDefault();
            }
        })
    })
</script>